<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.ravi.spring.Triangle">

		<!-- property name="type" value="Equilateral Triangle"></property> -->
		<constructor-arg value="Isoceles triangle" type="java.lang.String"></constructor-arg>
		<constructor-arg value="30" type="int"></constructor-arg>

	</bean>

</beans>
